
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PandoraMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  *@
    <!-- Syncfusion ASP.NET Core controls styles -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/20.1.47/material.css" />
    <!-- Syncfusion ASP.NET Core controls scripts -->
    <script src="https://cdn.syncfusion.com/ej2/20.1.47/dist/ej2.min.js"></script>

</head>
<body>
    <header>
        <div class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            Pando<span class="caligraphic">RA</span>
        </a>
          <ul class="navbar-nav ms-md-auto">
            <li class="nav-item">            
               <partial name="_LoginPartial" rel="noopener" class ="nav-link" />
            </li>
          </ul>
      </div>
    </div>

        @*<nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PandoRA</a>                             
            <div class="login form-inline my-2 my-lg-0">
                <partial name="_LoginPartial" />
            </div>
        </nav>*@ 
    </header>


    <div class="chart">
        <main role="main">
            @RenderBody()
        </main>
    </div>        


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - PandoraMVC
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Syncfusion ASP.NET Core Script Manager -->
    <ejs-scripts></ejs-scripts>
    @RenderSection("Scripts", required: false)

</body>
</html>
<style>
    .chart{
        width: 100%;
        height: 80vh;
        
    }
    .login{
        margin-left: 90%;
    }
    .navbar{
        width: 100%;
        padding: 5px 10px;
        display: block;
        border-radius: 0;
    }
    main{
        height: 100%;

    }
    .caligraphic{
        font-family: 'Playball', cursive;
    }
</style>